---
import { Image as AstroImage } from "astro:assets";
const { coverUrl, placeholderUrl } = Astro.props;
---

<main class="catalogItem">
  <div
    class="mask absolute w-full h-full backdrop-blur-md opacity-100 z-20 transition-all duration-500 ease-in-out"
  >
  </div>

  <AstroImage
    alt="cover"
    width={600}
    height={400}
    class="coverImage transition-all z-0"
    format={"webp"}
    src={coverUrl}
    quality={100}
  />

  <AstroImage
    alt="placeholder"
    width={600}
    height={400}
    class="placeholderImage transition-all absolute top-0 left-0 z-10"
    format={"webp"}
    src={placeholderUrl}
    quality={1}
  />
</main>

<script>
  const workImages = document.querySelectorAll(".catalogItem");
  workImages.forEach((item) => {
    const mask = item.querySelector(".mask");
    const cover = item.querySelector(".coverImage") as HTMLImageElement;
    const placeholder = item.querySelector(".placeholderImage");

    if (!mask || !cover || !placeholder) return;

    const handleLoad = () => {
      setTimeout(() => {
        cover.classList.remove("hidden");
        mask.classList.remove("opacity-100");
        mask.classList.add("opacity-0");
        placeholder.classList.add("hidden");
      }, 50);
    };

    if (cover.complete) {
      handleLoad();
    } else {
      cover.addEventListener("load", handleLoad);
    }
  });
</script>
