---
import { Image as AstroImage } from "astro:assets";
const { coverUrl, placeholderUrl } = Astro.props;
---

<main class="catalogItem">
  <div
    id="mask"
    class="absolute w-full h-full backdrop-blur-md opacity-100 z-20 transition-all duration-500 ease-in-out"
  >
  </div>

  <AstroImage
    alt="cover"
    width={600}
    class="coverImage transition-all z-0"
    format={"webp"}
    src={coverUrl}
    quality={100}
  />

  <AstroImage
    alt="placeholder"
    width={600}
    class="placeholderImage transition-all absolute top-0 left-0 z-10"
    format={"webp"}
    src={placeholderUrl}
    quality={1}
  />
</main>

<script>
  const workImage = document.querySelectorAll(".catalogItem");
  console.log(workImage);
  workImage.forEach((i) => {
    const imageHigh = new Image();
    const mask = i.children[0];
    const cover = i.children[1];
    const placeholder = i.children[2];
    imageHigh.src = (cover as HTMLImageElement).src;
    imageHigh.onload = () => {
      setTimeout(() => {
        cover.classList.remove("hidden");
        mask.classList.remove("opacity-100");
        mask.classList.add("opacity-0");
        placeholder.classList.add("hidden");
      }, 50);
    };
  });
</script>
