---
import GalleryLayout from "@layouts/galleryLayout.astro";
---

<GalleryLayout title={"CV"}>
  <p>我环顾四周并捕捉...</p>
  <p>I’ve looked everywhere and captured the ...</p>
</GalleryLayout>

<style>
  p {
    color: white;
  }
</style>
