---
import GalleryLayout from "@layouts/galleryLayout.astro";
---

<GalleryLayout title={"CV"}>
  <div class="font-mono text-xs italic font-bold">
    <p>我环顾四周并捕捉...</p>
    <p>I’ve looked everywhere and captured the ...</p>
  </div>
</GalleryLayout>
