---
import ChromaticAberration from "@components/chromaticAberration.astro";
import ChromaticAberrationExample from "@components/chromaticAberrationExample.astro";
import blur from "/blur.svg";
---

<main>
  <div class="w-200 h-200 mt-20">
    <img src="/blur.svg" alt="blur" />
  </div>
</main>

<style></style>

<script></script>
