---
import GalleryLayout from '@layouts/galleryLayout.astro'
// import Image from '@components/Image.astro'
import { getWorks } from '../scripts/_getWorks'
const _href = Astro.request.url
const workList = await getWorks('all', _href)
const sliceWorkList = workList.slice(0, 3)
---

<GalleryLayout title={'Gallery - yi'}>
  <p class="font-serif italic animate-fill-both fixed top-5 left-5">Gallery</p>
  <main class="slide-in">
    <section
    id="workCatalog"
    class=" flex flex-col gap-2 justify-center items-center"
  >
  <p class="w-48 font-serif text-xl">Work</p>
    {
      sliceWorkList.map((work) => {
        return (
          <div id="work-item" class="relative h-full w-48 flex items-center">
            <a
              href={`/${work.workName.replace(/ /g, '_')}`}
              id="workName"
              class="decoration-none font-serif!"
            >
              {work.workName}
            </a>
            <i id="caret" class="i-carbon-caret-right p-2 opacity-30"></i>
          </div>
        )
      })
    }
      <!-- <div id="" class="relative max-h446.4px max-w446.4px md:w273.15px md:h273.15px">
        <a
          class="text-3xl text-black w-full h-full absolute flex flex-col items-center justify-center font-sans font-thin italic z-30 opacity-100 decoration-none md:backdrop-blur-sm"
        >
        CV
        </a>
        <div class="w-full h-full relative opacity-90 md:opacity-100">
        </div>
      </div> -->
      <hr class="w-48 dark:opacity-20 mx-auto">
      <div class="w-48 font-serif font-600">· CV</div>
    </section>
  </main>
</GalleryLayout>

<style>
  .footerLink a:nth-child(2)::before {
    content: "· ";
  }
  #work-item:hover #caret{
    @apply opacity-100!
  }
</style>
