---
import GalleryLayout from "@layouts/galleryLayout.astro";
import { getWorks } from "../scripts/_getWorks";
const _href = Astro.request.url;
const workList = await getWorks("all", _href);
const sliceWorkList = workList.slice(0, 3);
---

<GalleryLayout title={"Gallery - yi"}>
  <main class="slide-in">
    <section id="workCatalog" class="flex flex-col gap-2">
      <p class="w-48 font-serif text-xl text-white! select-none">Work</p>
      {
        sliceWorkList.map((work) => {
          return (
            <div id="work-item" class="relative h-full w-80 flex items-center">
              <a
                href={`/${work.workName.replace(/ /g, "_")}`}
                id="workName"
                class="decoration-none text-white! font-serif!  "
              >
                {work.workName}
              </a>
              <i
                id="caret"
                class="i-carbon-caret-right p-2 opacity-30 text-white"
              />
            </div>
          );
        })
      }
      <div class="w-48 font-serif border-t pt-1 border-gray-2">
        <a class="text-white hover:opacity-80" href="/cv"> · CV </a>
      </div>
    </section>
  </main>
</GalleryLayout>

<style>
  .footerLink a:nth-child(2)::before {
    content: "· ";
  }
  #work-item:hover #caret {
    @apply opacity-100!;
  }
</style>
