---
import GalleryLayout from '@layouts/galleryLayout.astro'
import Image from '@components/Image.astro'
const href = import.meta.env.PROD
  ? 'https://ekargallery.netlify.app/'
  : Astro.request.url
const url = `${href}all.json`
const res = await fetch(url)
const workList = await res.json()
const workLists = workList.map((i) => {
  return {
    workName: i.workName,
    cover: i.cover[0].url,
    placeHolder: i.placeHolder[0].url,
  }
})
console.log(workLists);
---

<GalleryLayout>
  <main class="prose slide-in">
    <p class="font-serif animate-fill-both">Gallery</p>
    <section
      id="workCatalog"
      class="font-sans grid md:grid-cols-2 gap-2 place-items-center"
    >
      {
        workLists.map((work) => {
          return (
            <div id="" class="relative">
              <a
                href="/turpan"
                id="workName"
                class=" w-full h-full absolute flex flex-col items-center justify-center text-sm font-serif z-30 opacity-0 decoration-none backdrop-blur-sm"
              >
                {work.workName}
              </a>
              <div class="relative">
                <Image coverUrl={work.cover} placeholderUrl={work.placeHolder} />
              </div>
            </div>
          )
        })
      }
    </section>
    <section class="flex">
      <p class="font-serif">
        <a href="https://ekar.site" class="decoration-none">:: ekar</a>
      </p>
    </section>
  </main>
</GalleryLayout>

<style>
  #workCatalog:hover #workName {
    @apply hover:opacity-100 transition-all ease-in-out transition-all decoration-none;
  }
</style>
