---
import { Image } from '@astrojs/image/components'
import GalleryLayout from '@layouts/galleryLayout.astro'
import localImage from '../../assets/bg.png'
// const classList = [
//   'opacity-0',
//   'animate-slideInUp',
//   'animate-fill-both',
//   'font-sans',
//   'font-medium',
//   'mt-8',
// ]
// const { title, text } = Astro.props;
---

<GalleryLayout>
  <main class="prose mt-20">
    <p class=" font-serif">Gallery-T-T-T</p>
    <section class="font-sans grid md:grid-cols-2  gap-4 prose">
      <div id="workWrapper" class="relative">
        <a href="" id="workName" class=" absolute flex flex-col items-center justify-center text-xl font-serif z-10 opacity-0 h-full w-full decoration-none">Turpan</a>
        <Image id='workImage' class='transition-all' src={localImage} />
      </div>
      <div>
        1
      </div>
      <div id="workWrapper" class="relative">
        <a href="" id="workName" class=" absolute flex flex-col items-center justify-center text-xl font-serif z-10 opacity-0 h-full w-full decoration-none">Turpan</a>
        <Image id='workImage' class='transition-all' src={localImage} />
      </div>
      <div id="workWrapper" class="relative">
        <a href="" id="workName" class=" absolute flex flex-col items-center justify-center text-xl font-serif z-10 opacity-0 h-full w-full decoration-none">Turpan</a>
        <Image id='workImage' class='transition-all' src={localImage} />
      </div>
    </section>
  </main>
</GalleryLayout>

<style is:global>

  #workWrapper:hover #workName {
    @apply  hover:opacity-100 transition-all ease-in-out transition-all decoration-none
  }
  #workWrapper:hover #workImage {
    @apply opacity-60 transition-all ease-in-out
  }
  #blockTitle {
    @apply md:text-base font-extrabold italic;
  }
  #blockTitle::before {
    content: ":: ";
  }
</style>
