---
import GalleryLayout from '@layouts/galleryLayout.astro'
import Image from '@components/Image.astro'
import { getWorks } from '../scripts/_getWorks'
const _href = Astro.request.url
const workList = await getWorks('all', _href)
const sliceWorkList = workList.slice(0, 3)
---

<GalleryLayout title={'Gallery - ekar'}>
  <main class="prose slide-in">
    <p class="font-sans font-thin italic animate-fill-both">Gallery</p>
    <section
      id="workCatalog"
      class="font-sans grid md:grid-cols-2 gap-2 place-items-center"
    >
      {
        sliceWorkList.map((work) => {
          return (
            <div id="" class="relative hfull wfull">
              <a
                href={`/${work.workName.replace(/ /g, '_')}`}
                id="workName"
                class=" text-white w-full h-full absolute flex flex-col items-center justify-center text-base md:text-sm font-sans font-thin italic z-30 opacity-100 md:opacity-0 decoration-none md:backdrop-blur-sm"
              >
                {work.workName}
              </a>
              <div class="relative md:opacity-100 min-h-min min-w-min">
                <Image
                  coverUrl={work.coverImage[0].url}
                  placeholderUrl={work.placeHolderImage[0].url}
                />
              </div>
            </div>
          )
        })
      }
        <!-- <div id="" class="relative max-h446.4px max-w446.4px md:w273.15px md:h273.15px">
          <a
            class=" text-white dark:text-black w-full h-full absolute flex flex-col items-center justify-center text-sm font-sans font-thin italic z-30 opacity-100 decoration-none md:backdrop-blur-sm"
          >
          blank
          </a>
          <div class="w-full h-full relative opacity-90 md:opacity-100 bg-black dark:bg-white">
          </div>
        </div> -->
    </section>
    <p class="footerLink">
      <a href="https://ekar.site" class="">Ekar</a>
      <a href="mailto:Earthb0y@outlook.com" class="">Contact</a>
    </p>
  </main>
</GalleryLayout>

<style>
  #workCatalog:hover #workName {
    @apply md:hover:opacity-100 md:opacity-0 transition-all ease-in-out transition-all decoration-none;
  }
  .footerLink a {
    @apply decoration-none  animate-fill-both font-sans font-thin italic hover:opacity-50;
  }
  .footerLink a:nth-child(2)::before {
    content: "· ";
  }
</style>
