---
import GalleryLayout from "@layouts/galleryLayout.astro";
import { getWorkById } from "../utils/dataService";

// 直接从数据服务获取所有工作数据
const workList = await getWorkById("all");
const sliceWorkList = Array.isArray(workList) ? workList.slice(0, 3) : [];
---

<GalleryLayout title={"Gallery - yi"}>
  <main class="slide-in">
    <section id="workCatalog" class="flex flex-col items-center gap-2">
      <p class="font-mono font-bold text-lg text-[#1C1C1C] italic select-none">
        Work
      </p>
      {
        sliceWorkList.map((work) => {
          return (
            <div
              id="work-item"
              class="relative h-full flex justify-center gap-2 text-[#1C1C1C] text-xs font-bold font-mono italic items-center"
            >
              <p id="caret" class=" opacity-30 text-[#1C1C1C]">
                -
              </p>
              <a
                href={`/${work.workName.replace(/ /g, "_")}`}
                id="workName"
                class="decoration-none "
              >
                {work.workName}
              </a>
            </div>
          );
        })
      }
      <div
        class="cvLink w-32 flex justify-center font-mono text-xs font-bold italic border-t pt-1 border-[#1C1C1C] items-center gap-2"
      >
        <p id="caret" class="opacity-30 text-[#1C1C1C]">-</p>
        <a class="hover:opacity-80 text-[#1C1C1C]" href="/cv">CV </a>
      </div>
    </section>
  </main>
</GalleryLayout>

<style>
  .footerLink a:nth-child(2)::before {
    content: "· ";
  }
  #work-item:hover #caret {
    opacity: 1 !important;
  }
  .cvLink:hover #caret {
    opacity: 1 !important;
  }
</style>
