---
import GalleryLayout from "@layouts/galleryLayout.astro";
import { getWorkById } from "../utils/dataService";

// 直接从数据服务获取所有工作数据
const workList = await getWorkById("all");
const sliceWorkList = Array.isArray(workList) ? workList.slice(0, 3) : [];
---

<GalleryLayout title={"Gallery - yi"}>
  <main class="slide-in">
    <section id="workCatalog" class="flex flex-col items-center gap-2">
      <p class="font-serif text-xl text-[#71604F] select-none">Work</p>
      {
        sliceWorkList.map((work) => {
          return (
            <div
              id="work-item"
              class="relative h-full w-80 flex justify-center text-[#71604F]  items-center"
            >
              <a
                href={`/${work.workName.replace(/ /g, "_")}`}
                id="workName"
                class="decoration-none font-serif!  "
              >
                {work.workName}
              </a>
              <i id="caret" class="i-carbon-caret-right p-2 opacity-30" />
            </div>
          );
        })
      }
      <div
        class="w-48 font-serif flex justify-center border-t pt-1 border-[#71604F]"
      >
        <a class="hover:opacity-80 text-[#71604F]" href="/cv"> · CV </a>
      </div>
    </section>
  </main>
</GalleryLayout>

<style>
  .footerLink a:nth-child(2)::before {
    content: "· ";
  }
  #work-item:hover #caret {
    @apply opacity-100!;
  }
</style>
