---
import GalleryLayout from '@layouts/galleryLayout.astro'
import Image from '@components/Image.astro'
import { getWorks } from '../scripts/_getWorks'
const _href = Astro.request.url
const workList = await getWorks('all', _href)
---

<GalleryLayout title={'Gallery - ekar'}>
  <main class="prose slide-in">
    <p class="font-sans font-thin italic animate-fill-both">Gallery</p>
    <section
      id="workCatalog"
      class="font-sans grid md:grid-cols-2 gap-2 place-items-center"
    >
      {
        workList.map((work) => {
          return (
            <div id="" class="relative">
              <a
                href={`/${work.workName.replace(/ /g, '_')}`}
                id="workName"
                class=" text-white w-full h-full absolute flex flex-col items-center justify-center text-sm font-sans font-thin italic z-30 opacity-100 md:opacity-0 decoration-none md:backdrop-blur-sm"
              >
                {work.workName}
              </a>
              <div class="relative opacity-90 md:opacity-100">
                <Image
                  coverUrl={work.coverImage[0].url}
                  placeholderUrl={work.placeHolderImage[0].url}
                />
              </div>
            </div>
          )
        })
      }
    </section>
    <p class="footerLink">
      <a href="https://ekar.site" class="">Ekar</a>
      <a href="mailto:Earthb0y@outlook.com" class="">Contact</a>
    </p>
  </main>
</GalleryLayout>

<style>
  #workCatalog:hover #workName {
    @apply md:hover:opacity-100 md:opacity-0 transition-all ease-in-out transition-all decoration-none;
  }
  .footerLink a {
    @apply decoration-none  animate-fill-both font-sans font-thin italic hover:opacity-50;
  }
  .footerLink a:nth-child(2)::before {
    content: "· ";
  }
</style>
