---
const pages = [
  {
    slug: 'Turpan',
    work: 'tu',
    route: 'Turpan',
  },
  {
    slug: 'Unnoticed',
    work: 'un',
    route: 'Unnoticed',
  },
  {
    slug: 'Another_Landscape',
    work: 'al',
    route: 'Another Landscape',
  },
  // {
  //   slug: 'Never_Know_How_Much_I_Love_You',
  //   work: 'ne',
  //   route: 'Never Know How Much I Love You',
  // },
]
---
<div class=" flex flex-row gap-4 justify-center font-serif italic">
    {
    pages.map((p) => {
      return (
          <a href={p.slug} class:list={['p-2', 'tabItem', 'z-20', { 'line-through hover:line-through': `/${p.slug}` === Astro.url.pathname }]}>{p.route}</a>
      )
    })
  }
    </div>
