---
const pages = [
  {
    slug: "Turpan",
    work: "tu",
    route: "Turpan",
  },
  {
    slug: "Unnoticed",
    work: "un",
    route: "Unnoticed",
  },
  {
    slug: "Another_Landscape",
    work: "al",
    route: "Another Landscape",
  },
];
---

<header
  class="fixed top-0 left-0 w-full z-50 flex justify-between items-baseline px-6 py-4 md:px-8 md:py-5 text-white mix-blend-difference"
>
  <a
    href="/"
    class="group flex items-center gap-1.5 font-sm font-bold hover:opacity-70 transition-opacity"
  >
    <i class="i-ph-arrow-left transition-transform group-hover:-translate-x-1"
    ></i>
    Projects
  </a>

  <nav class="flex gap-6 lg:gap-8 text-xs font-bold">
    {
      pages.map((p) => {
        return (
          <a
            href={`/${p.slug}`}
            class:list={[
              "hover:text-gray-400 transition-colors",
              {
                "text-gray-500 pointer-events-none":
                  Astro.url.pathname.includes(p.slug),
              },
            ]}
          >
            {p.route}
          </a>
        );
      })
    }
  </nav>
</header>
