---
import { themeScript } from "@scripts/themeController";
import { ViewTransitions } from "astro:transitions";
import "../styles/main.css";
interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline set:html={themeScript} />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="referrer" content="no-referrer" />
    <link rel="icon" href="/icon.png" />
    <ViewTransitions />
  </head>
  <body
    class="bg-white font-mono text-black dark:bg-[#050505] dark:text-[#Eaeaea] min-h-screen transition-colors duration-300"
  >
    <header
      class="fixed top-0 left-0 w-full z-50 flex justify-between items-baseline px-6 py-4 md:px-8 md:py-5 text-white mix-blend-difference"
    >
      <a
        href="/"
        class="text-base md:text-base font-bold hover:opacity-70 transition-opacity"
      >
        YI
      </a>

      <nav class="flex items-center gap-6 lg:gap-8 text-xs font-bold">
        <a href="/" class="hover:text-gray-400 transition-colors">Project</a>
        <a href="/cv" class="hover:text-gray-400 transition-colors">CV</a>
        <a
          href="mailto:[earthb0y@outlook.com]"
          target="_blank"
          class="hover:text-gray-400 transition-colors">Contact</a
        >
      </nav>
    </header>

    <main class="w-full pt-24 px-6 md:px-8 pb-16">
      <slot />
    </main>
  </body>
</html>
